<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Interima"
        tools:targetApi="31">
        <activity
            android:name=".Disconnect"
            android:exported="false" />
        <activity
            android:name=".ApplyListAg"
            android:exported="false" />
        <activity
            android:name=".Historique"
            android:exported="false" />
        <activity
            android:name=".CVLMDisplay"
            android:exported="false" />
        <activity
            android:name=".ApplyListAdapter"
            android:exported="false" />
        <activity
            android:name=".ApplyList"
            android:exported="false" />
        <activity
            android:name=".ApplyListDisplay"
            android:exported="false" />
        <activity
            android:name=".RecherchePage"
            android:exported="false" />
        <activity
            android:name=".ApplyHelp"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Geolocalisation" />
        <activity android:name=".CreateOffer" />
        <activity android:name=".FullOffer" />
        <activity android:name=".SignIn" />
        <activity android:name=".Notifications" />
        <activity android:name=".SignUpCo" />
        <activity android:name=".SignUp" />
        <activity android:name=".WhoAreYou" />
        <activity android:name=".MdP" />
        <activity android:name=".GridAbonnement" />
        <activity android:name=".GridAbView" />
        <activity android:name=".Apply" />
        <activity android:name=".ChooseApply" />
        <activity android:name=".ApplyReuseDisplay" />
        <activity android:name=".Bookmarks" />
        <activity android:name=".ApplyReuse" />
        <activity android:name=".ProfilDisplay" />
        <activity android:name=".ProfileModifUti" />
        <activity android:name=".ProfileModifAg" />
    </application>

</manifest>